{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="./../static/images/logo.png">
    {% block csslink %} {% endblock csslink %}
    {% block jslink %} {% endblock jslink %}

</head>
<body>
    <nav id="nav_bar">
        <span><img src="{% static 'images/logo.png' %}" alt="" id="logo_image"></span>
        <span id="logo_head">Sheryians coding school</span>
        <a href="{% url 'sheryians_app:home' %}"><button  id="home_button" class="buttons">Home</button></a>
        <a href="{% url 'sheryians_app:courses' %}"><button id="courses_button" class="buttons">Courses</button></a>
        <a href="{% url 'sheryians_app:bootcamp' %}"><button id="bootcamp_button" class="buttons">Bootcamp(Kodr)</button></a>
        <button class="buttons">Request Callback</button>
        <a href="{% url 'sheryians_app:signin' %}"><button id="signin_button" class="buttons">Sign In</button></a>
    </nav>
    {% block body %} {% endblock body %}
    <br>
    <footer id="body_footer">
        <div id="lastinfo">
            <div id="connect">
                <img id="sherlogo" src="../static/img/logo.webp" alt="">
                <p id="socials">Let's connect with our socials</p>
                <img id="instalogo" src="../static/images/instalogo.png" alt="">
                <img id="linkedinlogo" src="../static/images/linkedinlogo.png" alt="">
                <img id="githublogo" src="../static/images/icons8-discord-50.png" alt="">
                <img id="ytlogo" src="../static/images/y.png" alt="">
                <img id="xlogo" src="../static/images/Screenshot 2024-12-19 193244.png" alt="">
            </div>
            <div id="info">
                <h5 id="companyid" class="info_buttons">COMPANY</h5>
                <p class="info_buttons">About Us</p>
                <p class="info_buttons">Support</p>
                <p class="info_buttons">Privacy Policy</p>
                <p class="info_buttons">Terms and Condition</p>
                <p class="info_buttons">Pricing and Refund</p>
                <p class="info_buttons">Hire From Us</p>
                <p class="info_buttons">Bug Bounty</p>
            </div>
            <div id="community">
                <h5 id="communityid">COMMUNITY</h5>
                <p class="inanddi">Inertia</p>
                <p class="inanddi">Discord</p>
            </div>
            <div id="touch">
                <h5 id="touchid">Get In Touch</h5>
                <p class="phn">+91 8109161752</p>
                <p class="phn">+91 9691778470</p>
                <p class="phn">hello@sheryians.com</p>
                <p class="phn">23-B,Indrapuri Sector C, <br>Bhopal(MP),462021</p>
            </div>
        </div>
    
        <footer id="footer">Copyright <span id="#cpy">&copy;</span> 2024 Sheryians Pvt. Ltd. <br><span id="all">All Rights Reserved.</span> </footer>